# activate ceph-tagged partitions
ACTION=="add", SUBSYSTEM=="block", \
  ENV{DEVTYPE}=="partition", \
  RUN+="/usr/sbin/pmpman_udev.sh \
  --database /var/lib/pmpman/database.db \
  --mark-udev /dev/$name"

