# activate ceph-tagged partitions
ACTION=="add", SUBSYSTEM=="block", \
  ENV{DEVTYPE}=="partition", \
  RUN+="/usr/sbin/pmpman \
  --database /var/lib/pmpman/devices.db \
  --mark-udev /dev/$name"
